﻿@model GameInfo.Web.Models.Company
@{
    ViewBag.Title = "CompanyDetails";
}

<h2>Details of one company</h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>The ID for the company</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MotherCompany)</td>
        <td>@Html.DisplayFor(m => m.MotherCompany)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Szekhely)</td>
        <td>@Html.DisplayFor(m => m.Szekhely)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Alapitas)</td>
        <td>@Html.DisplayFor(m => m.Alapitas)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Boss)</td>
        <td>@Html.DisplayFor(m => m.Boss)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Employees)</td>
        <td>@Html.DisplayFor(m => m.Employees)</td>
    </tr>
</table>