﻿@model GameInfo.Web.Models.CompanyViewModel
@{
    ViewBag.Title = "CompanyIndex";
}

<h2>Company Index</h2>
<p style="color: red; font-weight: bold;">@TempData["editResult"]</p>

@Html.Partial("CompanyEdit", Model.EditedCompany)

@Html.Partial("CompanyList", Model.ListOfCompanies)
