﻿@model IEnumerable<GameInfo.Web.Models.Company>

<h2>List of companies</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Szekhely)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Szekhely)</td>
                <td>@Html.ActionLink("[Show]", "Details", new { id = item.Id })</td>
                <td>@Html.ActionLink("[Del]", "Remove", new { id = item.Id })</td>
                <td>@Html.ActionLink("[Edit]", "Edit", new { id = item.Id })</td>
            </tr>
        }
    </table>
}
