﻿@model GameInfo.Web.Models.Company

<h2>Edit one Company</h2>

@using (Html.BeginForm("Edit", "Companies"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-label">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Szekhely)</div>
    <div class="editor-label">@Html.EditorFor(m => m.Szekhely)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Alapitas)</div>
    <div class="editor-label">@Html.EditorFor(m => m.Alapitas)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Boss)</div>
    <div class="editor-label">@Html.EditorFor(m => m.Boss)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Employees)</div>
    <div class="editor-label">@Html.EditorFor(m => m.Employees)</div>

    <input type="submit" value="SEND" />
}
